.border-bottom {
  border-bottom: 1px solid #868e96;
}

/* .container-fluid {
  max-width: 960px;
}

@media (min-width: 1200px) {
  .container-fluid {
    max-width: 1140px;
  }
} */

@media print {
  .container {
    max-width: 100%;
  }
  a {
    color: #212529 !important;
  }
}

.title-color-primary {
  color: crimson;
}
